<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="supplier" frontName="become-a-supplier">
            <module name="Become_Supplier" />
        </route>
    </router>
</config>